.theme-shahali .owl-controls{
	text-align: center;
	}

.theme-shahali .owl-controls .owl-page{
	display: inline-block;
	height: 20px;
	}

.theme-shahali .owl-controls .owl-page > span{
	background: none repeat scroll 0 0 #dedede;
	border-radius: 50%;
	display: block;
	height: 10px;
	margin: 0 15px;
	width: 10px;
	transition: all 600ms;
	}

.theme-shahali .owl-controls .owl-page.active span{
	background: none repeat scroll 0 0 #000;
	border: 7px solid #fff;
	height: 25px;
	margin: -7px 8px;
	width: 25px;
}
